<table>
<tbody>
<tr><td>Student Username</td><td>First Name</td><td>Last Name</td><td>Fisk Email             </td><td>Classification</td><td>Internship Year</td><td>Company Name</td><td>Position</td><td>Hourly Pay</td></tr>
<tr><td>Boobennet       </td><td>Boo       </td><td>Bennnet  </td><td>Boobennet@My.Fisk.Edu  </td><td>Junior        </td><td>2022           </td><td>HP          </td><td>Intern  </td><td>15        </td></tr>
<tr><td>Kaadekoya10     </td><td>Kehinde   </td><td>Adekoya  </td><td>Kaadekoya10@My.Fisk.Edu</td><td>senior        </td><td>2022           </td><td>cisco       </td><td>intern  </td><td>15        </td></tr>
</tbody>
</table>